* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.v93_26 {
    width: 100%;
    height: 1024px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v100_12 {
    width: 100%;
    height: 942px;
    background: rgba(224, 221, 211, 1);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 57px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v100_25 {
    width: 416px;
    color: url("../images/v100_25.png");
    position: absolute;
    top: 687px;
    left: 223px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v100_2 {
    width: 322px;
    color: rgba(35, 51, 83, 1);
    position: absolute;
    top: 179px;
    left: 270px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 46px;
    opacity: 1;
    text-align: left;
}

.v100_7 {
    width: 531px;
    height: 69px;
    background: rgba(247, 248, 249, 1);
    opacity: 1;
    position: absolute;
    top: 390px;
    left: 168px;
    border: 1px solid rgba(215, 227, 232, 1);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
}

.v100_10 {
    width: 531px;
    height: 69px;
    background: rgba(247, 248, 249, 1);
    opacity: 1;
    position: absolute;
    top: 484px;
    left: 168px;
    border: 1px solid rgba(215, 227, 232, 1);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
}

.v100_11 {
    width: 531px;
    height: 69px;
    background: rgba(247, 248, 249, 1);
    opacity: 1;
    position: absolute;
    top: 578px;
    left: 168px;
    border: 1px solid rgba(215, 227, 232, 1);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
}

.v100_13 {
    width: 254px;
    height: 71px;
    background: rgba(85, 188, 151, 1);
    opacity: 1;
    position: absolute;
    top: 778px;
    left: 168px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
}

.v100_14 {
    width: 254px;
    height: 71px;
    background: rgba(35, 51, 83, 1);
    opacity: 1;
    position: absolute;
    top: 778px;
    left: 445px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
}

.v100_17 {
    width: 188px;
    color: rgba(35, 51, 83, 1);
    position: absolute;
    top: 790px;
    left: 201px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 39px;
    opacity: 1;
    text-align: left;
}

.v100_18 {
    width: 115px;
    color: rgba(85, 188, 151, 1);
    position: absolute;
    top: 790px;
    left: 515px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 39px;
    opacity: 1;
    text-align: left;
}

.v100_24 {
    width: 33px;
    height: 33px;
    background: rgba(85, 188, 151, 1);
    opacity: 1;
    position: absolute;
    top: 685px;
    left: 169px;
}

.v101_8 {
    width: 581px;
    height: 845px;
    background: url("../images/v101_8.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 62px;
    left: 679px;
    border-top-left-radius: 71px;
    border-top-right-radius: 71px;
    border-bottom-left-radius: 71px;
    border-bottom-right-radius: 71px;
    overflow: hidden;
}

.v101_9 {
    width: 221px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 410px;
    left: 186px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v101_36 {
    width: 531px;
    height: 69px;
    background: rgba(247, 248, 249, 1);
    opacity: 1;
    position: absolute;
    top: 296px;
    left: 166px;
    border: 1px solid rgba(215, 227, 232, 1);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
}

.v101_37 {
    width: 101px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 316px;
    left: 184px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v101_10 {
    width: 138px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 504px;
    left: 186px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v101_11 {
    width: 230px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 598px;
    left: 185px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}