* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.carta {
    background: linear-gradient(342deg, #994a59 0%, #fa5756 35%, #f49453 65%, #ffa856 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    margin: 7%;
}
