.carta {
    background: $backgroundGradient;
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 7%;
    border-radius: 50px;
}

.save {
    background-color: $backgroundButton;
    color: $colorButton;
    border: 1px solid $colorButton;
    padding: 15px;
}
