// $backgroundHTML: #532e3a;
$backgroundHTML: #fff;
$backgroundCarta: rgb(153, 74, 89);
$backgroundGradient: linear-gradient(342deg, rgba(153, 74, 89, 1) 0%, rgba(250, 87, 86, 1) 35%, rgba(244, 148, 83, 1) 65%, rgba(255, 168, 86, 1) 100%);
$colorText: white;
$backgroundButton: #d2d3c9;
$colorButton: black;
$hover: #96959b64;
