img {
    height: 80px;
}

.grid-container,
.grid-container-busqueda {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    margin: 0 auto;
}

.grid-container>div,
.grid-container-busqueda>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
}

#busqueda {
    width: 90%;
    font-size: 30px;
    padding: 2px !important;
    margin-left: 2%;
    border-radius: 7px;
}

#buscador,
#categoriasSection {
    margin-top: 3%;
}

#searchButton {
    padding: 10px;
    height: 35px;
}

#divBusqueda {
    margin-left: 15%;
    margin-right: 5%;
}

#a-search {
    color: #000000;
}