@import "index";
@import "colors";
@import "carta";
@import "text";

$font: -apple-system,
blinkmacsystemfont,
sans-serif;

html {
    background-color: $backgroundHTML;
}

body {
    font-family: $font;
}

.whatIS {
    margin-top: 52%;
}

.whyIS {
    margin-top: 22%;
}


.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#pWhatIS {
    margin-top: 20%;
    margin-left: 10%;
}