@import "index";
@import "colors";
@import "carta";
@import "text";
@import "loginRegistro";

$font: -apple-system, blinkmacsystemfont, sans-serif;

html {
    background-color: $backgroundHTML;
} 

// TODO: Change Background Color Index.html

body {
    font-family: $font;
}
