/* Episodes Checked */
.grid-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 20px;
}

/* items */
.grid-1 div {
    color: black;
    font-size: 20px;
    padding: 20px;
}

.card {
    width: 14rem !important;
    background-color: lightgrey !important;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 480px;
    margin: 50px auto;
}

#divEpisodes {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}


.notifications__item {
    margin-bottom: 20px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0px 15px 20px 0px rgb(0, 0, 0, .2);
    transition: all .3s ease-in;
    cursor: pointer;
}

.notifications__item__avatar {
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-right: 20px;

    border-radius: 50%;
}

.notifications__item__avatar img {
    width: 100%;
    height: 100%;
}

.notifications__item__content {
    width: calc(100% - 105px);
}

.notifications__item__title,
.notifications__item__message {
    display: block;
}

.notifications__item__title {
    letter-spacing: 2px;
    font-family: 'atvice', sans-serif;
    font-size: 17px;
}

.notifications__item__message {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #929292;
}

.notifications__item__option {
    width: 20px;
    height: 20px;
    margin: 8px 0;

    border-radius: 50%;
    color: white;
    opacity: 0;

    font-size: 10px;
    text-align: center;
    line-height: 20px;

    cursor: pointer;
    transition: all .2s;
}

.notifications__item__option.archive {
    background-color: #3dc98c;
}

.notifications__item__option.delete {
    background-color: #c93d4d;
}


/*
* Animation part
*/
.notifications__item:hover {
    background-color: #f7f7f7;
    transform: scale(0.95);
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, .2);
}

.notifications__item:hover .notifications__item__option {
    opacity: 1;
}

.notifications__item.archive .notifications__item__title,
.notifications__item.delete .notifications__item__title {
    color: white;
}

.notifications__item.archive .notifications__item__message,
.notifications__item.delete .notifications__item__message {
    color: #f3f3f3;
}

.notifications__item.archive {
    background-color: #3dc98c;
    animation: archiveAnimation 1.5s cubic-bezier(0, 0, 0, 1.12) forwards;
    animation-delay: .6s;
}

.notifications__item.delete {
    background-color: #c93d4d;
    animation: deleteAnimation 1.5s cubic-bezier(0, 0, 0, 1.12) forwards;
    animation-delay: .6s;
}


@keyframes archiveAnimation {
    to {
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes deleteAnimation {
    to {
        transform: translateX(-100px);
        opacity: 0;
    }
}

@media only screen and (min-width: 1201px) {
    #imgSerie {
        height: 65%;
    }
}

@media only screen and (max-width: 765px) {
    #imgSerie {
        margin-top: 50%;
    }
}

@media only screen and (max-width: 360px) {
    #imgSerie {
        margin-top: 80%;
    }
}



.wrapper {
    float: left;
    width: 100%;
    position: relative;
}

.content {
    float: left;
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 300px;
}

.recentlider>.swiper-container {
    width: 100%;
    height: 500px;
    margin: 0px auto;
    position: relative;
}

.nextdirection {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 98%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    color: #fff;
    cursor: pointer;
}

.nextdirection img {
    position: absolute;
    top: calc(50% - 12px);
    right: 8px;
}

.leftdirection {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 98%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    color: #fff;
    cursor: pointer;
}

.leftdirection img {
    position: absolute;
    top: calc(50% - 12px);
    left: 7px;
}

.swiper-button-disabled {
    opacity: 0.3;
}

.recentlider>.swiper-container>.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide>a>img {
    max-width: 100%;
}

.panel {
    float: left;
    width: 100%;
    margin: 20px 0;
}

.panel h2 {
    font-size: 22px;
    color: #fff;
    padding: 10px 20px;
}